// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
  color: blue;
  padding-top:1em;
  padding-left:1em;
  }

